.todoitem {
  display: flex;
  align-items: center;
  width: 50vh;
  background-color: white;
  margin: 6px 2px;
  height: 40px;
  border-radius: 12px;
}

.todoitem > p {
  flex: 1;
}

.todoitem--done {
  text-decoration: line-through;
}
